@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff");
}

p {}

.Box {
  display: flex;
  justify-content: center;
}

.prodBox {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  width: 70%;
  height: auto;
  margin: 50px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width: 50%;
  height: 100%;
  padding: 23px;
}
.prodImg {
  width: 50%;
  margin: 20px;
}
.prodImg img {
  width: 100%;
  height: auto;
}

.productTitle {
  font-family: "URWGeometric-Bold.woff";
  font-size: 50px;
}
.productPrice {
  font-family: "URWGeometric-Bold.woff";
  font-size: 50px;
}

.productInfo {
  font-family: "URWGeometric-Bold.woff";
  font-size: 20px;
}
.productInfoContainer {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
.add-to-bag-button-big {
  background-color: #fab;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  font-family: "URWGeometric-Bold.woff";
  font-size: 16px;
  padding-top: 7px;
  border: none;
  cursor: pointer;
}
