@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff");
}
a  {
  text-decoration: none;
  color: black;
}

.header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 20px;
  padding: 0 80px;
}

.logo {
  width: 150px;
  margin-top: 20px 0px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.companyname {
  font-size: 25px;
  font-family: "URWGeometric-Bold.woff";
  margin-left: 0px;
  padding: 0;
}

.shopping-cart img {
  width: 30px;
}

.cart-img {
  width: 30px;
  height: 30px;
}
.shopping-cart {
  margin: 0;
  padding: 0;
  width: 50px;
  position: relative;
}

.count-items {
  position: absolute;
  top: 14px;
  width: 30px;
  height: 30px;
  font-family: "URWGeometric-Bold.woff";
  font-size: 12px;
}

.hero-desktop-img {
  width: 100%;
  position: relative;
}

.hero-desktop-img img {
  background-size: cover;
  width: 100%;
}

.hero-mobile-img, .hero-tablet-img {
  display: none;
}

.hero-container {
  width: 100%;
  position: relative;
}

.categories-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 100%;
  /* padding: 0 80px; */
  position: absolute;
  top: 80px;
}

.category-txt {
  font-family: "URWGeometric-Bold.woff";
  font-size: 40px;
}

.category-txt-container {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
}

.shop-headline {
  font-family: "URWGeometric-Bold.woff";
  font-size: 15vw;
  color: white;
  margin-bottom: 70px;
}

@keyframes textanimation {
  25%  {
    color:#16F4D0;
    background-position:0% 50%;}
  50%  {
    color:#FF8A5B;
    background-position:100% 50%;}
  100% {
    color:#16F4D0;
    background-position:0% 50%;}
}

.shop-headline:hover {
  animation: textanimation 0.8s ease infinite;
  cursor: crosshair;
}

@media (min-width: 600px) and (max-width: 900px) {

  .shop-headline {
    font-size: 15vw;
  }

  .category-txt-container {
    padding: 0 10px;
  }
  .category-txt {
    font-size: 30px;
  }
}

/* @media (min-width: 600px) and (max-width: 900px) {
  .hero-desktop-img {
    background-size: cover;
    width: 100%;
    display: block;
  }
  .hero-desktop-img img {
    background-size: cover;
    width: 100%;
  }

  .categories-container {
    padding: 0 0px;
    top: 250px;
  }

  .categories-txt-container {

  }

  .shop-headline {
    font-size: 70px;
    line-height: 30px;
  }
} */



/* responsive mobile */

@media (max-width: 600px) {

  .hero-desktop-img img, .hero-tablet-img {
    display: none;
  }

  .hero-mobile-img {
    background-size: cover;
    width: 100%;
    display: block;
  }

  .hero-mobile-img img {
    background-size: cover;
    width: 100%;
    display: block;
  }
  .shop-headline {
    font-size: 130px;
  }

  .categories-container {
    padding: 0 70px;
    top: 50px;

  }

  .category-txt-container {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {

  .shop-headline {
    font-size: 50px;
  }

  .category-txt-container {
  }
  .category-txt {
    font-size: 30px;
    margin-right: 10px;
    text-align: center;
  }

}
