@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff");
}

.header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 80px;
}

.logo {
  width: 150px;
  margin-top: 20px 0px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.companyname {
  font-size: 25px;
  font-family: "URWGeometric-Bold.woff";
  margin-left: 0px;
  padding: 0;
}

.bag-img img {
  width: 20px;
}

.bag-img {
  margin: 0;
  padding: 0;
  width: 20px;
}

.hero-img img {
  width: 100%;
  background-size: cover;
  position: relative;
}
.hero-container {
  width: 100%;
  position: relative;
}
.categories-container {
  width: 100%;
  padding: 0 80px;
  position: absolute;
  top: 20px;
}
