@font-face {
  font-family: "URWGeometric-Bold.woff";
  src: url("/URWGeometric-Bold.woff") format("woff");
}

  .headercontainer {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  .logo {
    width: 200px;
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }


.companyname {
  font-size: 50px;
  font-family: "URWGeometric-Bold.woff";
}

.country {
  font-size: 10px;
}
